/* .release{
    margin: 1rem;
    padding: 1rem;
    width: 14rem;
    text-align: center;
    color: white;
    font-size: 1.1rem;
    background: #2b2b2b;
    height: 17rem;
}

.release:hover{
    border: solid;
    border-color: #8c5df1;
    cursor: pointer;
}

.year-text{
    font-size: .8em;
    padding-bottom: 0.7rem;
}
.type-text{
    color: #8c5df1;
    font-size: .8em;
} */


.release{
    margin: 1rem;
    padding: 1rem;
    width: 26rem;
    text-align: center;
    color: white;
    font-size: 1.1rem;
    background: #181818;
    display: flex;
    height: 10rem;
    border-radius: 7px;
}

.release:hover{
    border: solid;
    border-color: #8c5df1;
    cursor: pointer;
}

.release-info-container{
    position: relative;
    width: -webkit-fill-available;
    text-align: left;
    
}

.release-info{
    position: absolute;
    bottom: 1rem;
    padding-left: 1rem;
}

.year-text{
    font-size: .8em;
    padding-bottom: 0.7rem;
    color: aqua;
}
.type-text{
       font-size: .7em;
       padding-top: 0.7rem;
       color: #9e9e9e;
}



.results{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 5rem;
    justify-content: center;
}

.pager{
    display: flex;
    justify-content: space-between;
    width: 8rem;
    color: white;
}

.pager-container{
    display: flex;
    justify-content: center;
}


.search-input{
    height: 2.3rem;
    width: 37rem;
    border-radius: 18px;
    border-width: 0px;
    padding-left: 30px;
}

.search-bar{
    text-align: center;
}

.history{
    text-align: center;
}


.pager-button{
    cursor: pointer;
}

.nav-button{
    color: white;
    border-radius: 16px;
    width: 2rem;
    min-height: 2rem;
    border-width: 0pc;
    cursor: pointer;
}

.search-button{
    margin-left: 0.5rem;
}

.not-found{
    text-align: center;
    padding-top: 3rem;
    color: white;
    font-size: 1.3rem;
}

.back-button{
    margin-right: 0.5rem;
}
.title{
    color: white;
    font-size: 2rem;
    padding-top: 1rem;
    padding-bottom: 0.2em;
}

.instructions{
    color: white;
    padding-bottom: 1rem;
    font-size: .9rem;
}

.search-item{
    color: white;
    padding: 0.3rem;
    cursor: pointer;
}

.search-item:hover{
    color: aqua;
}
body {
    background-color: #121212;
  }

.container{
  padding-top: 2rem;
}
