.title{
    color: white;
    font-size: 2rem;
    padding-top: 1rem;
    padding-bottom: 0.2em;
}

.instructions{
    color: white;
    padding-bottom: 1rem;
    font-size: .9rem;
}

.search-item{
    color: white;
    padding: 0.3rem;
    cursor: pointer;
}

.search-item:hover{
    color: aqua;
}