.results{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 5rem;
    justify-content: center;
}

.pager{
    display: flex;
    justify-content: space-between;
    width: 8rem;
    color: white;
}

.pager-container{
    display: flex;
    justify-content: center;
}


.search-input{
    height: 2.3rem;
    width: 37rem;
    border-radius: 18px;
    border-width: 0px;
    padding-left: 30px;
}

.search-bar{
    text-align: center;
}

.history{
    text-align: center;
}


.pager-button{
    cursor: pointer;
}

.nav-button{
    color: white;
    border-radius: 16px;
    width: 2rem;
    min-height: 2rem;
    border-width: 0pc;
    cursor: pointer;
}

.search-button{
    margin-left: 0.5rem;
}

.not-found{
    text-align: center;
    padding-top: 3rem;
    color: white;
    font-size: 1.3rem;
}

.back-button{
    margin-right: 0.5rem;
}